# folder
.gradle
.idea
bin
build
dependencies
out
run
src/main/java/stevekung/mods/indicatia/extra
src/main/resources/assets/indicatia/sounds
src/main/java/net/minecraft
src/main/java/net/minecraftforge

# file
sounds.json