# Fields
public-f net.minecraft.client.gui.GuiIngame field_73840_e #persistantChatGUI
public net.minecraft.client.gui.Gui field_73735_i #zLevel
public net.minecraft.client.Minecraft field_71470_ab #debugFPS
protected net.minecraft.client.gui.GuiNewChat field_146247_f #mc
protected net.minecraft.client.gui.GuiNewChat field_146248_g #sentMessages
protected net.minecraft.client.gui.GuiNewChat field_146252_h #chatLines
protected net.minecraft.client.gui.GuiNewChat field_146253_i #drawnChatLines
protected net.minecraft.client.gui.GuiNewChat field_146250_j #scrollPos
protected net.minecraft.client.gui.GuiNewChat field_146251_k #isScrolled
protected net.minecraft.client.gui.GuiSlot field_148161_k #mc
protected net.minecraft.client.gui.GuiSlot field_148157_o #initialClickY
protected net.minecraft.client.gui.GuiSlot field_148168_r #selectedElement
protected net.minecraft.client.gui.GuiSlot field_148167_s #lastClicked
protected net.minecraft.client.gui.GuiSlot field_148170_p #scrollMultiplier
protected net.minecraft.client.gui.GuiSlot field_148169_q #amountScrolled
protected net.minecraft.client.gui.GuiSlot field_148165_u #hasListHeader
public net.minecraft.util.StringTranslate field_74817_a #instance
public net.minecraft.client.renderer.entity.RendererLivingEntity field_77045_g #mainModel

# Methods
public net.minecraft.client.Minecraft func_147115_a(Z)V #sendClickBlockToController
public net.minecraft.client.Minecraft func_147121_ag()V #rightClickMouse
protected net.minecraft.client.gui.GuiSlot func_148121_k()V #bindAmountScrolled
protected net.minecraft.client.gui.GuiSlot func_148136_c(IIII)V #overlayBackground
protected net.minecraft.client.gui.FontRenderer func_78258_a(Ljava/lang/String;IIIZ)I #renderString
protected net.minecraft.client.gui.FontRenderer func_78259_e(Ljava/lang/String;I)I #sizeStringToWidth
protected net.minecraft.client.gui.FontRenderer func_78280_d(Ljava/lang/String;I)Ljava/lang/String; #wrapFormattedStringToWidth
protected net.minecraft.client.gui.FontRenderer func_78278_a(ICZ)F #renderCharAtPos
protected net.minecraft.client.gui.FontRenderer func_78257_a(I)V #loadGlyphTexture