# Fields
public-f net.minecraft.client.gui.GuiIngame field_73840_e #persistantChatGUI
public net.minecraft.client.gui.GuiBossOverlay field_184060_g #mapBossInfos
protected net.minecraft.client.gui.GuiBossOverlay field_184059_f #client
protected net.minecraft.client.gui.GuiBossOverlay field_184058_a #GUI_BARS_TEXTURES
public net.minecraft.client.renderer.ItemRenderer field_187467_d #itemStackMainHand
public net.minecraft.client.renderer.ItemRenderer field_187468_e #itemStackOffHand
public net.minecraft.client.renderer.ItemRenderer field_187469_f #equippedProgressMainHand
public net.minecraft.client.renderer.ItemRenderer field_187470_g #prevEquippedProgressMainHand
public net.minecraft.client.renderer.ItemRenderer field_187471_h #equippedProgressOffHand
public net.minecraft.client.renderer.ItemRenderer field_187472_i #prevEquippedProgressOffHand
public net.minecraft.client.renderer.EntityRenderer field_78507_R #fovModifierHand
public net.minecraft.client.renderer.EntityRenderer field_78506_S #fovModifierHandPrev
public net.minecraft.client.renderer.EntityRenderer field_78530_s #farPlaneDistance
public net.minecraft.client.gui.GuiPlayerTabOverlay field_175256_i #header
public net.minecraft.client.gui.GuiPlayerTabOverlay field_175255_h #footer
protected net.minecraft.client.gui.GuiPlayerTabOverlay field_175252_a #ENTRY_ORDERING
protected net.minecraft.client.gui.GuiPlayerTabOverlay field_175250_f #mc
protected net.minecraft.client.gui.GuiNewChat field_184061_a #NEWLINE_SPLITTER
protected net.minecraft.client.gui.GuiNewChat field_184062_f #NEWLINE_STRING_JOINER
protected net.minecraft.client.gui.GuiNewChat field_146247_f #MC
protected net.minecraft.client.gui.GuiNewChat field_146248_g #sentMessages
protected net.minecraft.client.gui.GuiNewChat field_146252_h #chatLines
protected net.minecraft.client.gui.GuiNewChat field_146253_i #drawnChatLines
protected net.minecraft.client.gui.GuiNewChat field_146250_j #scrollPos
protected net.minecraft.client.gui.GuiNewChat field_146251_k #isScrolled

# Methods
public net.minecraft.client.renderer.EntityRenderer func_78481_a(FZ)F #getFOVModifier
public net.minecraft.client.renderer.EntityRenderer func_78482_e(F)V #hurtCameraEffect
public net.minecraft.client.renderer.EntityRenderer func_78475_f(F)V #setupViewBobbing
public net.minecraft.client.renderer.ItemRenderer func_178101_a(FF)V #rotateArroundXAndY
public net.minecraft.client.renderer.ItemRenderer func_187464_b()V #setLightmap
public net.minecraft.client.renderer.ItemRenderer func_187458_c(F)V #rotateArm
public net.minecraft.client.renderer.ItemRenderer func_187456_a(FFLnet/minecraft/util/EnumHandSide;)V #renderArmFirstPerson
public net.minecraft.client.renderer.ItemRenderer func_187463_a(FFF)V #renderMapFirstPerson
public net.minecraft.client.renderer.ItemRenderer func_187465_a(FLnet/minecraft/util/EnumHandSide;FLnet/minecraft/item/ItemStack;)V #renderMapFirstPersonSide
public net.minecraft.client.renderer.ItemRenderer func_187459_b(Lnet/minecraft/util/EnumHandSide;F)V #transformSideFirstPerson
public net.minecraft.client.renderer.ItemRenderer func_187453_a(Lnet/minecraft/util/EnumHandSide;F)V #transformFirstPerson
public net.minecraft.client.renderer.ItemRenderer func_187454_a(FLnet/minecraft/util/EnumHandSide;Lnet/minecraft/item/ItemStack;)V #transformEatFirstPerson
protected net.minecraft.client.gui.GuiPlayerTabOverlay func_175247_a(Lnet/minecraft/scoreboard/ScoreObjective;ILjava/lang/String;IILnet/minecraft/client/network/NetworkPlayerInfo;)V #drawScoreboardValues
protected net.minecraft.client.gui.GuiBossOverlay func_184052_a(IILnet/minecraft/world/BossInfo;)V #render
public net.minecraft.util.text.translation.LanguageMap func_74808_a()Lnet/minecraft/util/text/translation/LanguageMap; #getInstance
public net.minecraft.entity.Entity func_70022_Q()Ljava/lang/String; #getEntityString
public net.minecraft.client.Minecraft func_147115_a(Z)V #sendClickBlockToController
public net.minecraft.client.Minecraft func_147121_ag()V #rightClickMouse